h1 {
    text-align: center;
}

body {
    background-image: url('day-bg.JPG');
    background-size: cover;
    background-position: center;
    color: #fff;
}

body.night {
    background-image: url('night-bg.JPG');
}

.container {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2rem;
    border-radius: 12px;
}

.content {
    display: none;
}

.content.active {
    display: block;
}