h1 {
    text-align: center;
}

body {
    background-image: url('day-bg.JPG');
    background-size: cover;
    background-position: center;
    color: #fff;
}

body.night {
    background-image: url('night-bg.JPG');
}

.container {
    padding: 2rem;
}

.content {
    display: none;
}

.content.active {
    display: block;
}
p, h1, h2 {
    text-shadow: 1px 1px 4px rgba(0,0,0,0.8);
}